.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 8172px;
  margin: 0 auto;
  padding: 1.25rem 1.25rem 0;
}
.mainbox .column {
  flex: 2;
}
.mainbox .column:nth-child(2) {
  flex: 5;
  margin: 0 1.25rem 1.875rem;
  overflow: hidden;
}
